asgiref==3.2.7
beautifulsoup4==4.5.3
certifi==2020.12.5
chardet==4.0.0
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.0.7
django-admin-sortable2==0.7.7
django-allauth==0.36.0
django-cors-headers==3.4.0
django-dotenv==1.4.2
django-liststyle==0.2b0
django-redis==5.0.0
django-request==1.5.5
envdir==0.7
funcy==1.16
idna==2.10
oauthlib==3.1.1
Pillow==9.2.0
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
sentry-sdk==0.19.5
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse==0.3.1
urllib3==1.26.2
