<!-- sales/templates/admin/sale_summary_change_list.html -->

{% extends "admin/change_list.html" %}
{% load static %}

{% block content_title %}
  <h1> ТТН Новой почты </h1>
{% endblock %}

{% block result_list %}
  <div class="wrapper">
    <div class="container">
      <div class="container__item">
        <div class="container__title">
          <h2>Получатель</h2>
        </div>
        <div class="container__label">
          <span>Получатель</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Контактное лицо</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Телефон</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Область</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Город</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Отделение</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
      </div>
      <div class="container__item">
        <div class="container__title">
          <h2>Параметры отправления</h2>
        </div>
        <div class="container__label">
          <span>Тип отправления</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Вес</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Общий объем отправления</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Количество мест</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Объявленная стоимость</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Описание отправления</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
      </div>
      <div class="container__item">
        <div class="container__title">
          <h2>Дополнительно</h2>
        </div>
        <div class="container__label">
          <span>Дата отправки</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Предпочтительная дата доставки</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Внутренний номер заказа клиента</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Номер упаковки</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Дополнительная информация об отправлении</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
      </div>
      <div class="container__item">
        <div class="container__title">
          <h2>Оплата</h2>
        </div>
        <div class="container__label">
          <span>Плательщик доставки</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Форма оплаты</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Обратная доставка</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Сумма обратной доставки</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
        <div class="container__label">
          <span>Плательщик обратной доставки</span>
        </div>
        <div class="container__context">
          <input type="text" value="">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagination %}
  <div class="ttn">
    <input type="button" value="Получить номер ТТН">
  </div>
{% endblock %}