.wrapper {
    margin: 0 auto;
}
.container {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-gap: 20px;
}
.container__item {
    display: grid;
    grid-template: auto / 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
}
.container__title {
    grid-column: 1 / 3;
}

input {
    flex: 1 0 auto;
}
.container__label {
}
.container__context {
    display: flex;
}
